# root directory
/database*/
/go*
/lnk*
/docs

# config files
localconfig*.json
.kosmtik-config.yml

#python
__pycache__


# temporary data
demdata/
tmp/
project.xml
zdata/
zdemdata/

#osm data
france.*
data/

# containers contents
zlogapache
zlogtirex
zzzspy



